venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.git/
.gitignore
.env
.env.*
!.env.example
*.egg-info/
.coverage
htmlcov/
tests/
terraform/
keys/
*.pem
*.key
*.md
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
docker-compose.yml
db/
#scripts/
